.lang {
  width: 100px;
  text-align: right;
  @include font(16px, 20px, 600);
  color: $text-dark;

  &__item {
    color: $text-light;
    cursor: pointer;
    transition: 0.3s;

    &.active {
      color: $text-darkest;
    }

    &:hover {
      color: $text-darkest;
    }
  }
}
