.card {
  background-color: white;

  &__main {
    padding: 40px 80px 77px 90px;
    position: relative;

    @include media-small-desktop {
      padding: 20px 30px 30px 20px;
    }
  }

  &__discount {
    position: absolute;
    top: 61px;
    left: 80px;
    right: 0;
    bottom: 0;
    width: 100px;
    height: 36px;
    padding: 0 0 0 10px;
    @include flex(flex-start, center);
    color: $text-white;
    background-image: url(../../assets/svg/badge-arrow.svg);
    background-repeat: no-repeat;
    @include font(22px, 27px, 600);
  }

  &__logo {
    width: 150px;
    height: 77px;
    margin: 0 0 0 auto;

    @include media-small-desktop {
      width: 100px;
      height: 55px;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__content {
    @include flex(space-between, flex-start);
  }

  &__image {
    width: 40.2%;
    height: 415px;
    flex: 1 0 auto;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  &__info {
    margin: 0 0 0 7.3%;
  }

  &__name {
    color: $text-darkest;
    @include font(38px, 120%, 600);
    margin: 34px 0 0 0;

    @include media-small-desktop {
      @include font(24px, 120%, 600);
    }
  }

  &__stars {
    @include flex(flex-end, center);
    margin: 52px 0 40px auto;

    @include media-small-desktop {
      @include flex(flex-start, center);
      margin: 30px 0 30px 0;
    }
  }

  &__prices {
    @include flex(space-between, flex-end);

    @include media-small-desktop {
      @include flex(space-between, flex-start, column);
      gap: 15px;
    }
  }

  &__disclaimer {
    background-color: $disclaimer-bg;
    @include flex(center, center);
    padding: 36px 0 36px 0;
    text-align: center;
    color: $disclaimer-text;
    @include font(22px, 23px, 600);

    @include media-small-desktop {
      padding: 24px 16px;
      @include font(16px, 18px, 600);
    }
  }
}

.card-price {
  @include flex(center, center, column);
  gap: 15px;

  @include media-small-desktop {
    @include flex(flex-start, flex-start, column);
    gap: 5px;
  }

  &__price {
    @include flex(center, flex-start);

    &_old {
      color: $text-light;
      position: relative;

      &::after {
        content: '';
        display: block;
        width: 100%;
        height: 3.5px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background-color: $badge-color;

        @include media-small-desktop {
          height: 2.5px;
        }
      }
    }

    &_new {
      color: $text-darkest;
    }
  }

  &__integers {
    @include font(32px, 32px, 600);
    margin: 5px 0 0 0;
    @include media-small-desktop {
      @include font(24px, 24px, 600);
    }

    &_new {
      @include font(52px, 52px, 600);
      @include media-small-desktop {
        @include font(32px, 32px, 600);
      }
    }
  }

  &__decimals {
    @include font(18px, 18px, 600);
    margin: 5px 0 0 0;
    @include media-small-desktop {
      @include font(14px, 14px, 600);
    }
    &_new {
      @include font(30px, 30px, 600);
      @include media-small-desktop {
        @include font(20px, 20px, 600);
      }
    }
  }

  &__symbol {
    @include font(45px, 40px, 600);
    margin: 0 0 0 3px;
    @include media-small-desktop {
      @include font(30px, 30px, 600);
    }
    &_new {
      @include font(60px, 60px, 600);
      @include media-small-desktop {
        @include font(36px, 36px, 600);
      }
    }
  }

  &__text {
    color: $disclaimer-text;
    text-transform: uppercase;
    @include font(18px, 18px, 600);

    @include media-small-desktop {
      @include font(14px, 14px, 600);
    }
  }
}
