.sort {
  @include font(16px, 16px, 500);
  color: $text-dark;
  @include flex(space-between, center);

  @include media-small-desktop {
    @include flex(center, flex-start, column);
  }

  &__item {
    margin-left: 18px;
    color: $text-accent;
    padding: 4px 6px;
    border-radius: 3px;
    cursor: pointer;
    transition: 0.3s;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;

    @include media-mobile {
      margin-left: 5px;
    }

    &:hover {
      background-color: $colored-bg;
    }

    &_active {
      color: $text-darkest;

      &.asc {
        &::after {
          @include pseudo(17px, 14px, inline-block, static);
          margin: 0 0 0 2px;
          background-image: url(../../assets/svg/sort-asc.svg);
          background-repeat: no-repeat;
          background-position: center;
        }
      }
      &.desc {
        &::after {
          @include pseudo(17px, 14px, inline-block, static);
          margin: 0 0 0 2px;
          background-image: url(../../assets/svg/sort-desc.svg);
          background-repeat: no-repeat;
          background-position: center;
        }
      }
    }
  }
}
