.stars {
  @include flex(center, center);
  gap: 12px;

  @include media-small-desktop {
    transform: scale(0.8);
    transform-origin: left;
  }

  @include media-mobile {
    transform: scale(0.5);
    transform-origin: left;
  }
}
