.list-page {
  &__lang {
    margin: 100px 0 0 auto;
    width: 80px;
  }
  &__title {
    @include font(22px, 23px, 600);
    color: $text-darkest;
    margin: 20px 0 0 0;
  }

  &__controls {
    margin: 24px 0 16px 0;
    @include flex(space-between, center);
  }

  &__search {
    width: 320px;
  }

  &__pagination {
    margin: 16px 0;
  }
}
