html {
  font-family: 'Montserrat Alternates', sans-serif;
  scroll-behavior: smooth;
  height: 100%;
}

body {
  height: 100%;
}

#root {
  height: 100%;
}

.wrapper {
  max-width: $wrapper-width;
  padding: $wrapper-side-paddings;
  margin: 0 auto;
  @include media-mobile {
    padding: 0 15px;
  }
}
