html {
  font-family: 'Roboto', sans-serif;
  scroll-behavior: smooth;
  height: 100%;
}

body {
  height: 100%;
}

#root {
  height: 100%;
}

// .App {
//   @include flex(flex-start, center);
//   flex-direction: column;
//   height: 100%;

//   main {
//     width: 100%;
//     flex: 1 1 auto;
//   }
// }
