// colors
$text-white: #fff;
$text-darkest: #344050;
$text-dark: #4d5969;
$text-light: #9da8ba;
$text-accent: #2a7be4;
$badge-color: #f63a3a;
$colored-bg: #edf2f8;
$disclaimer-bg: rgba(217, 217, 217, 0.22);
$disclaimer-text: #6f7885;
$border-color: #d8e2ee;

// width

$wrapper-width: 1240px;
$wrapper-side-paddings: 0 20px;

// $desktop-big-width: 1440px;
// $desktop-small-width: 1000px;
// $tablet-width: 639px;
// $mobile-width: 320px;

// transition

// buttons
